<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934406548589-38vv4i9a6h6n1ht2971n9bergje3848s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934406548589-38vv4i9a6h6n1ht2971n9bergje3848s</string>
	<key>API_KEY</key>
	<string>AIzaSyDScQi_mlju6EHP-9vhcriYEfjfulcYznE</string>
	<key>GCM_SENDER_ID</key>
	<string>934406548589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensePlanner</string>
	<key>PROJECT_ID</key>
	<string>expense-planner-f5a61</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-planner-f5a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934406548589:ios:c2c667332b202a5a3de364</string>
</dict>
</plist>